{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
NewsPaper
{% endblock title %}

{% block content %}
   <h1>Все публикации</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>
    {% if is_not_subscriber %}
        <p class="test-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sm">Подписаться</a></p>
    {% endif %}
   <hr>
   {% if category_news_list %}
       <table align='center' border="0" cellspacing="0">
           <tr>
               <td>Заголовок</td>
               <td>Категория</td>
               <td>Публикация</td>
               <td>Дата публикации</td>
           </tr>

           {% for post in category_news_list %}
           <tr>
               <td align="left">{{ post.title| censor }}</td>
                <td align="left">
                   {% for category in post.category.all %}
                            <a href="{% url 'category_list' category.id %}"> {{category}} </a>
                   {% endfor %}
               </td>
               <td align="left">{{ post.text|truncatechars:20|censor }}</td>
               <td>{{ post.posting_time|date:'d.m.Y' }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей пока нет!</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}

